<div class="flex items-center justify-end bg-[#f5f7f8] rounded-xl px-6 py-3 w-full">
  
  <div class="flex items-center gap-4">
    <button class="bg-white rounded-full p-2 shadow-sm">
      <fa-icon [icon]="faSearch" class="text-gray-400"></fa-icon>
    </button>
    <button class="bg-white rounded-full p-2 shadow-sm relative">
      <fa-icon [icon]="faBell" class="text-gray-400"></fa-icon>
      <span class="absolute top-1 right-1 w-2 h-2 bg-red-500 rounded-full border-2 border-white"></span>
    </button>
    <button class="bg-white rounded-full p-2 shadow-sm">
      <fa-icon [icon]="faCog" class="text-gray-400"></fa-icon>
    </button>
    <button class="bg-green-500 rounded-full p-2 shadow-sm">
      <fa-icon [icon]="faSun" class="text-white"></fa-icon>
    </button>
    <button class="bg-white rounded-full p-2 shadow-sm">
      <fa-icon [icon]="faMoon" class="text-gray-400"></fa-icon>
    </button>
    <button class="bg-white rounded-full p-2 shadow-sm">
      <fa-icon [icon]="faCircleUser" class="text-gray-400"></fa-icon>
    </button>
</div>
</div>